@model TelefonRehber.Models.Calisanlar
@{
    /**/

    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Detay", "Calisanlar", FormMethod.Post))
{


    <div class="form-group">
        
        <div class="col-sm-12">
            <h2 class="text-primary">Çalışan Bilgileri</h2>
        </div><br><br><br><br><br>
        <row>
            <div class="col-sm-6">
                <div>
                    <strong>Çalışan ID</strong>
                    <input type="text" value="@Model.calisanId" readonly class="form-control" />
                </div><br />

                <div>
                    <strong>Çalışan Adı</strong>
                    <input type="text" value="@Model.calisanAd" readonly class="form-control" />
                </div><br />

                <div>
                    <strong>Çalışan Soyadı</strong>
                    <input type="text" value="@Model.calisanSoyad" readonly class="form-control" />
                </div><br />

                <div>
                    <strong>Telefon</strong>
                    <input type="text" value="@Model.telefon" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group col-sm-6">

                <strong>Departman</strong>
                <input type="text" value="@Model.Departmanlar.departmanAd" readonly class="form-control" /><br />
                <strong>Yöneticisi</strong>
                <input type="text" value="@Model.yöneticiBilgiler" readonly class="form-control" /><br />
                <strong>Yönetici Mi</strong>
                <input type="text" value="@Model.yöneticiMi.ToString()" readonly class="form-control" />

                @*@Html.TextBoxFor(m => m.calisanAd, new { @class = "form-control" })*@
            </div>
        </row>
    </div>

}


